body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: black;
    color: white;
}

p {
    color: white;
}

h1 {
    color: lightgreen;
    text-align: center;
}

strong[onClick] {
    color: lightblue;
    text-decoration: underline;
}

h2 {
    color: lightcoral;
    text-decoration: underline;
}